      <script>
        $(function(){
          $(".alert").fadeOut(7000);
        });
    　</script>

      <!--フラッシュメッセージ-->
      <% flash.each do |key, value| %>
        <p class="alert alert-<%= key %> mt-3">
          <%= value %>
        </p>
      <% end %>