
<div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <div class="bgImg src3"></div>
  <div class="bgImg src4"></div>
   <div class="boxString">
  <div class="about">
  </br>
  </br>
  <h1>日本の雄大な自然を追いかけ続ける冒険者たちへ</h1>
  </br>
  </br>
  </br>
  <p>日本の四季が織りなす美しい色彩風景を体感し感動を共有する為、</p>
  </br>
  <p>また貴重な日本の風景美を守り伝えていく為。</p>
  </br>
  <p>Japan Nature Recordでは一人ひとりの冒険者の旅の記録を</p>
  </br>
  <p>一つに集約して「旅の道標」として残して共有する事を目的としています。</p>
  </div>
  </div>
</div>


