<!--<div class="shioya">-->
<!--<div class="box">-->
<!--  <div class="bgImg src1"></div>-->
<!--  <div class="bgImg src2"></div>-->

<!--</div>-->
<!--</div>-->

<div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <div class="bgImg src3"></div>
  <div class="bgImg src4"></div>
   <div class="boxString">
  <%= image_tag asset_path("IMG_6496 (3).PNG") %>
  </div>
</div>

