<div class="new-comment">
  <%#= form_with url: post_post_comments_path(post), remote: true do |f| %>
  <%= form_with model: [post, post_comment], data: { remote: true }  do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>