// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .cover {
//     // display: inline-block;
//     // background-color: #ccc;
//     // background-position: center center;
//     // // background-repeat: no-repeat;
//     // // margin: 5px;
//     // width: 200px;
//     // height: 200px;
//     // border: 1px solid #ccc;
//     // background-size: cover;
// }

// .cover {
//   object-fit: cover;
//   width: 200px;
//   height: 200px;
//   background-color: #ccc;
//   // border: 1px solid #ccc;
// }

.mypost{
  position:center;
}


.egawa{
  background-image: image-url('image/egawa1.JPG');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family:'ヒラギノ明朝 Pro W6';
}

.location{
  color: white;
}

.egawa2{
  background-image: image-url('image/egawa2.JPG');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family:'ヒラギノ明朝 Pro W6';
}


.img{
  width: 225px;
  height: 225px;
  object-fit: contain;
  padding-bottom: 5px;
}